<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Vainglory API demo</title>
        <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0" />
        <meta charset="utf-8">
        <link rel="stylesheet" href="/static/materialize.min.css">
    </head>
    <body>
        <header class="navbar-fixed">
            <nav class="blue lighten-1">
                <div class="nav-wrapper">
                    <a href="/" class="brand-logo center">Vainglory API</a>
                </div>
            </nav>
        </header>

        <main class="section container">
            <div id="loading" class="center">
                <div class="preloader-wrapper big active">
                    <div class="spinner-layer spinner-blue-only">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div><div class="gap-patch">
                            <div class="circle"></div>
                        </div><div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>
                </div>
                <p class="center">Crunching data for you, stay tight…</p>
            </div> <!-- #loading -->

            <noscript><p class="center section">This site requires JavaScript.</p></noscript>
            <div class="section" id="statistics" style="display: none;">
                <div class="section" style="font-size: 2em;">
                    <p class="center">Best CS</p>
                    <p id="cs-player" style="font-weight: bold;" class="center"></p>
                    <p class="center">with <span id="cs-actor"></span> (<span id="cs-cs"></span> per minute)</p>
                </div>
                <div class="section" id="gameType"></div>
                <div class="section" style="font-size: 2em;">
                    <p style="font-weight: bold;" class="center"><span id="minions"></span> Minions</p>
                    <p class="center">died in the last <span class="number"></span> matches</p>
                </div>
                <div class="section" id="players"></div>
                <div class="section" style="font-size: 2em;">
                    <p class="center">Average number of boots per game</p>
                    <p id="boots" style="font-weight: bold;" class="center"></p>
                </div>
                <div class="section" id="durations"></div>
                <div class="section" style="font-size: 2em;">
                    <p class="center">Most sold</p>
                    <p id="topsold" style="font-weight: bold;" class="center"></p>
                </div>
                <div class="section" id="picks"></div>
                <div class="section" style="font-size: 2em;">
                    <p class="center">Every</p>
                    <p id="potions" style="font-weight: bold;" class="center"></p>
                    <p class="center">seconds a potion is consumed</p>
                </div>
            </div>

            <div id="ad" class="center">
                {% if useads %}{{ ads|random|safe }}{% endif %}
            </div>
        </main>

        <footer class="page-footer blue lighten-1">
            <div class="container">
                <p class="grey-text text-lighten-4">Want to donate Bitcoin? <a class="grey-text text-lighten-3" href="bitcoin:34WgXENFP6vf5zpgDpfTYCLJjWz1RCa2t2">34WgXENFP6vf5zpgDpfTYCLJjWz1RCa2t2</a></p>
                <p class="grey-text text-lighten-4">View the <a class="grey-text text-lighten-3" href="https://git.schneefux.xyz/schneefux/python-gamelocker">source code</a></p>
                <p class="grey-text text-lighten-4"><a class="grey-text text-lighten-3" onclick="$.get('/ads-toggle', function(){ location.reload(); });" href="#">Turn ads {% if useads %}off{% else %}on{% endif %}</a></p>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    built with &lt;3 by shutterfly
                </div>
            </div>
        </footer>

        <script type="text/javascript" src="/static/jquery-3.1.1.min.js"></script>
        <script defer type="text/javascript" src="/static/materialize.min.js"></script>
        <script async type="text/javascript" src="/static/highcharts.js"></script>
        <script type="text/javascript">
            $.getScript("/stats.js", function() {
                $("#loading").hide();
                $("#statistics").show();
            });
        </script>
    </body>
</html>
